@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Welcome</h3>
    <p class="lead">Employee Management Web based application.</p>
    <p><a href="https://www.harshadraval.tk" class="btn btn-primary btn-lg">More &raquo;</a></p>
</div>